/* Coolors Exported Palette - https://coolors.co/128c7e-000010-dfeae2-ffffff-f95738 */

/* CSS HEX */
--celadon-green: #128c7eff;
--xiketic: #000010ff;
--mint-cream: #dfeae2ff;
--white: #ffffffff;
--orange-soda: #f95738ff;

/* CSS HSL */
--celadon-green: hsla(173, 77%, 31%, 1);
--xiketic: hsla(240, 100%, 3%, 1);
--mint-cream: hsla(136, 21%, 90%, 1);
--white: hsla(0, 0%, 100%, 1);
--orange-soda: hsla(10, 94%, 60%, 1);

/* SCSS HEX */
$celadon-green: #128c7eff;
$xiketic: #000010ff;
$mint-cream: #dfeae2ff;
$white: #ffffffff;
$orange-soda: #f95738ff;

/* SCSS HSL */
$celadon-green: hsla(173, 77%, 31%, 1);
$xiketic: hsla(240, 100%, 3%, 1);
$mint-cream: hsla(136, 21%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);
$orange-soda: hsla(10, 94%, 60%, 1);

/* SCSS RGB */
$celadon-green: rgba(18, 140, 126, 1);
$xiketic: rgba(0, 0, 16, 1);
$mint-cream: rgba(223, 234, 226, 1);
$white: rgba(255, 255, 255, 1);
$orange-soda: rgba(249, 87, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-right: linear-gradient(90deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-bottom: linear-gradient(180deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-left: linear-gradient(270deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-top-right: linear-gradient(45deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-bottom-right: linear-gradient(135deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-top-left: linear-gradient(225deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-bottom-left: linear-gradient(315deg, #128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);
$gradient-radial: radial-gradient(#128c7eff, #000010ff, #dfeae2ff, #ffffffff, #f95738ff);